
body{
    background-image: url(../img/fondo2.jpeg);
    background-size: cover;
    font-family: "Playfair Display", serif;
}
a:hover{
    color: gray;
}
/*Navbar*/
.nav_titulo{
    display: block;
    text-align: start;
}
.linkedinimg{
    display:inline-flex;
    width: 10px;
    height: 10px;
}

/*Perfil*/

.box_p{
    background-image: url(../img/fondo_header.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 630px;
    padding-top: 90px; 
    display: flex;
    color: lightgray;
}
.box1_perfil{
    text-align: start;
    align-items: center;
    margin-left: 60px;
}
.perfilimg{
    width: 350px;
    height: 350px;
}
.barra_iconos{
    background-color: red;
    display:flex;
    justify-content: center;
    text-align: center;
    height: 30px;
}
.iconos{
    color: aliceblue;
    margin: 0 40px;
}


/*Experiencia*/
.box_experiencia{
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img_card_experiencia{
    border: 1px solid black;

}

.listas{
    text-decoration: none;
    text-align:left;
    font-size: small;
    list-style-type:circle;
}

/*Estudio y Certificaciones*/
.box_estudios{
    padding: 30px 30px 30px 30px;
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img_certificados{
    max-width: 100%;
    height: auto;
}
.contenedor_flechas{
    width: 50%;
}
.box_certificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link1{
    text-decoration: none;
    color:white;
    font-size: smaller;
}