
body{
    background-image: url(../img/fondo2.jpeg);
    background-size: cover;
    font-family: "Playfair Display", serif;
}
a:hover{
    color: gray;
}
/*Navbar*/
.nav_titulo{
    display: block;
    text-align: start;
}
.linkedinimg{
    display:inline-flex;
    width: 10px;
    height: 10px;
}

/*Perfil*/

.box_p{
    background-image: url(../img/fondo_header.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 630px;
    padding-top: 90px; 
    display: flex;
    color: lightgray;
}
.box1_perfil{
    text-align: start;
    align-items: center;
    margin-left: 60px;
}
.perfilimg{
    width: 350px;
    height: 350px;
}
.barra_iconos{
    background-color: red;
    display:flex;
    justify-content: center;
    text-align: center;
    height: 30px;
}
.iconos{
    color: aliceblue;
    margin: 0 40px;
}


/*Experiencia*/
.box_experiencia{
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img_card_experiencia{
    border: 1px solid black;

}
.listas{
    text-decoration: none;
    text-align:left;
    font-size: small;
    list-style-type:circle;
}


/*Estudio y Certificaciones*/

/*Titulo*/
.titulo_estudios{
    padding: 30px;
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Contenido*/
.contenedor_estudios{
    display: flex;
}

/*Certificaciones*/
.indicador{
    margin-top: 700px;
}
.img_certificados{
    max-width: 100%;
    height: auto;
}
.imgscrum{
    width: 80%;
    height: 90%;
    margin-left: 65px;
}
.box_certificado{
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.contenedor_flechas{
    width: 100%;  
}
.link1{
    text-decoration: none;
    color:white;
    font-size: smaller;
}

/*Estudios*/

.cont_info{
    display: flex;
    padding: 10px;
}
.img1_estudio{
    width: 100px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.img2_estudio{
    border-radius: 5px;
    object-fit: cover;
    width: 80px;
    height: auto;
}
.img3_estudio{
    border-radius: 5px;
    object-fit: cover;
    width: 70px;
    height: auto;
}
.box_estudios{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.box_mini_img{
    padding-left: 100px;
    display:block;   
}
.box_mini_text{
    padding-left: 60px;
    font-size: 15px;
    line-height: 1.2;
}


/*Acerca de mi*/
.titulo_aboutme{
        padding: 40px;
        justify-content: center;
        text-align: center;
        color: lightgray;
        padding-top: 50px;
        padding-bottom: 30px;
}
.text_aboutme{
    padding: 30px 20px 20px 20px;
    justify-content: center;
    text-align: center;
    color: lightgray; 
}
.foto_aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
}
.size_aboutme{
    border-radius: 10px;
    width: 80%;
    height: auto;
}

/*Animaciones*/

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: red;
    }
}

.fade-in {
    animation: fadeIn 4s ease-in-out;
}

.typing-effect {
    font-family: "Playfair Display", serif;
    overflow: hidden; 
    border-right: .1em solid red; 
    animation: typing 4s steps(8, end), blink-caret .50s step-end;
}

.slide-in {
    animation: slideIn 5s ease-out;
}

/*footer*/
footer{
    color: lightgray; 
    align-items: center;
    text-align: center;
    justify-content: center;
}
.barra_iconos2{
    background-color: red;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}
.iconos2{
    display:inline-table;
    color: aliceblue;
    margin: 0 20px;
    text-decoration: none;
    margin-bottom: 7px;
}
.text_footer{
    text-align: center;
    justify-content: center;
    padding: auto;
    margin-top: 7px;
}
.icon_footer{
    margin-bottom: 3px;
}

/*Portafolio*/
.titulo_portafolio{
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 90px;
    padding-bottom: 30px;
}

.portafolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secundario_color{
    color: aliceblue;
}