
body{
    background-image: url(../img/fondo2.jpeg);
    background-size: cover;
}
a:hover{
    color: gray;
}
/*Navbar*/
.nav_titulo{
    display: block;
    text-align: start;
}
.linkedinimg{
    display:inline-flex;
    width: 10px;
    height: 10px;
}

.link1{
    text-decoration: none;
    color:white;
    font-size: smaller;
}

/*Perfil*/
.box_p{
    margin-top: 70px;
    padding: 10px 10px 10px 10px;
    display: flex;
    color: lightgray;
}
.box1_perfil{
    padding: 30px 30px 30px 30px;
    margin-top: 50px;
    text-align: start;
    align-items: center;
    margin-left: 50px;
}
.box2_perfil{
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    align-items: center;
    margin-left: 100px;
}
.perfilimg{
    width: 350px;
    height: 350px;
}

/*Experiencia*/
.box_experiencia{
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img_card_experiencia{
    border: 1px solid black;

}

.listas{
    text-decoration: none;
    text-align:left;
    font-size: small;
    list-style-type:circle;
}

/*Estudio y Certificaciones*/
.box_estudios{
    padding: 30px 30px 30px 30px;
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img_certificados{
    max-width: 100%;
    height: auto;
}

.carrusel_dise{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 30px 30px 30px 30px;
    width: 100%;
    height: 500px;
}
.carusel_texto{
    top: 250px;
    bottom: 0px; 
    left: 50%;
    text-align: center;
    transform: translateX(-70%);
    color: rgb(119, 29, 20);
    border-radius: 10px;
}